@model TWTodosAspNet.Models.Todo

<h1>@ViewData["Title"]</h1>

<p>Tem certeza que deseja excluir a tarefa <strong>@Model.Title</strong>?</p>

<form method="POST">
    <button class="btn btn-danger" type="submit">Excluir</button>
    <a class="btn btn-primary" asp-controller="Todo" asp-action="Index">Cancelar</a>
</form>